/* Box sizing rules & remove default margin/padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Defines what 1rem is & set core root defaults */
html {
  font-size: 62.5%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set box-sizing */
body {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary-100 {
  font-weight: 700;
  font-size: 3.2rem;
}
@media (min-width: 21.875em) {
  .heading-primary-100 {
    font-size: 4.8rem;
  }
}

.heading-primary-200 {
  font-weight: 400;
  font-size: 2.4rem;
}
@media (min-width: 21.875em) {
  .heading-primary-200 {
    font-size: 3.6rem;
  }
}

.heading-primary-300 {
  max-width: 45ch;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 21.875em) {
  .heading-primary-300 {
    font-size: 3.6rem;
    font-weight: 500;
  }
}

.heading-secondary-100 {
  font-size: 1.8rem;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
  max-width: 45ch;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-bg-white-100 {
  background-color: #f6f7f8;
}

.u-bg-black {
  background-color: #000;
}

.u-bg-gradient {
  background-image: linear-gradient(#0a49af, #0e5fe3);
}

.u-center-text {
  text-align: center !important;
}

.u-container {
  margin: 0;
  max-width: 100%;
  width: 100%;
  min-height: 50rem;
}
@media (min-width: 21.875em) {
  .u-container {
    max-width: 120rem;
    margin: 8rem auto;
  }
}

.u-fs-300 {
  font-size: 1.3rem;
}

.u-fs-400 {
  font-size: 1.4rem;
}

.u-fs-500 {
  font-size: 1.5rem;
}

.u-fs-600 {
  font-size: 1.6rem;
}

.u-fs-700 {
  font-size: 3rem;
}

.u-fs-800 {
  font-size: 3.6rem;
}

.u-fs-primary-heading {
  font-size: 3.6rem;
}

.u-fs-secondary-heading {
  font-size: 3rem;
}

.u-fw-bold {
  font-weight: 700;
}

.u-fw-semi-bold {
  font-weight: 500;
}

.u-fw-regular {
  font-weight: 400;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-text-white {
  color: #ffffff;
}

.u-text-black {
  color: #000;
}

.u-text-primary-100 {
  color: #0a49af;
}

.u-text-primary-200 {
  color: #0e5fe3;
}

.cta {
  background-color: #2ab7fd;
  border-radius: 6px;
  border: none;
  height: 4.8rem;
  width: 29rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.feature-box {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 32.2rem;
}
.feature-box__img {
  border-radius: 5px 5px 0 0;
}
.feature-box__text {
  padding: 4rem;
}

.footer {
  height: 4.7rem;
}

.header {
  width: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 2rem;
}
.header__logo {
  width: 20%;
}
.header__login > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navigation {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.navigation ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation ul li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  list-style: none;
}

.section-features,
.section-hero,
.section-sharing,
.section-signing {
  padding: 1.5rem;
  min-width: 100%;
}
@media (min-width: 21.875em) {
  .section-features,
.section-hero,
.section-sharing,
.section-signing {
    padding: 4rem;
  }
}

.section-hero {
  height: 100vh;
  position: relative;
}
@media (min-width: 21.875em) {
  .section-hero {
    padding: 10rem 4rem 4rem 4rem;
  }
}
.section-hero .hero {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}
.section-hero .hero > * {
  display: grid;
  place-content: center;
}
@media (min-width: 21.875em) {
  .section-hero .hero {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-hero .hero__text {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  .section-hero .hero__img {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  .section-hero .hero__img::before {
    content: "";
    width: 12rem;
    height: 12rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(10, 73, 175, 0.8);
  }
}

@media (min-width: 21.875em) {
  .section-features__boxes {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .section-features__boxes > * {
    grid-row: 1/span 1;
  }
  .section-features__boxes .box-1 {
    grid-column: 3/span 1;
  }
  .section-features__boxes .box-2 {
    grid-column: 2/span 1;
  }
  .section-features__boxes .box-3 {
    grid-column: 1/span 1;
  }
}

.section-sharing {
  display: grid;
  grid-gap: 2rem;
}
.section-sharing > * {
  display: grid;
  place-content: center;
}
@media (min-width: 21.875em) {
  .section-sharing {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-sharing > * {
    grid-row: 1/span 1;
  }
  .section-sharing__img {
    grid-column: 2/span 1;
  }
  .section-sharing__text {
    grid-column: 1/span 1;
  }
}

.section-signing {
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 21.875em) {
  .section-signing {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-signing > * {
    grid-row: 1/span 1;
    display: grid;
    place-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
