.header {
  max-width: 120rem;

  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: $fs-600;
  font-weight: $fw-bold;

  &__logo {
    width: 40vw;

    @include respond(desktop) {
      width: 20%;
    }
  }

  &__links {
    display: none;

    @include respond(desktop) {
      display: block;

      ul {
        display: flex;
        align-items: center;
        flex-direction: row;

        li {
          margin-left: 0.75rem;
          margin-right: 0.75rem;
          list-style: none;
        }
      }
    }
  }

  &__login {
    display: none;

    @include respond(desktop) {
      display: block;
    }

    & > * {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }
}
