.header {
  width: 100%;
  padding: 1.5rem;

  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: $fs-600;
  font-weight: $fw-bold;

  @include respond(desktop) {
    width: 120rem;
    padding: 0;

    top: 2rem;
  }

  &__logo {
    width: 40vw;

    @include respond(desktop) {
      width: 20%;
    }
  }

  &__links {
    display: none;

    @include respond(desktop) {
      display: block;

      ul {
        display: flex;
        align-items: center;
        flex-direction: row;

        li {
          margin-left: 0.75rem;
          margin-right: 0.75rem;
          list-style: none;
        }
      }
    }
  }

  &__login {
    display: none;

    @include respond(desktop) {
      display: block;
    }

    & > * {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }
}
