.navigation {
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2.5px;
      background-color: $clr-white;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  @include respond(desktop) {
    display: none;
  }
}
