.section {
  padding: 1.5rem;
  min-width: 100%;

  @include respond(desktop) {
    padding: 4rem;
  }
}

.section-hero {
  height: 65rem;
  z-index: 0;
  padding-top: 5rem;
  overflow: hidden;

  position: relative;

  @include respond(desktop) {
    padding: 10rem 4rem 4rem 4rem;
  }

  .hero {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 2rem;

    & > * {
      display: grid;
      place-content: center;
    }

    @include respond(desktop) {
      grid-template-columns: repeat(2, 1fr);

      &__text {
        margin-right: auto;

        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }

      &__img {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;

        position: relative;

        &::before {
          content: "";
          background-color: rgba($clr-primary-200, 0.2);
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          height: 35vw;
          width: 35vw;

          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -90;

          transform: translate(-50%, -50%);
        }

        &::after {
          content: "";
          background-image: linear-gradient($clr-primary-200, $clr-primary-100);
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          height: 22vw;
          width: 22vw;

          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -80;

          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.section-features {
  &__boxes {
    display: grid;
    grid-gap: 2rem;

    @include respond(desktop) {
      grid-template-columns: repeat(3, auto);

      & > * {
        grid-row: 1 / span 1;
      }

      .box-1 {
        grid-column: 3 / span 1;
      }

      .box-2 {
        grid-column: 2 / span 1;
      }

      .box-3 {
        grid-column: 1 / span 1;
      }
    }
  }
}

.section-sharing {
  display: grid;
  grid-gap: 2rem;

  & > * {
    display: grid;
    place-content: center;
  }

  @include respond(desktop) {
    grid-template-columns: repeat(2, 1fr);

    & > * {
      grid-row: 1 / span 1;
    }

    &__img {
      max-width: 43rem;
      grid-column: 2 / span 1;
    }

    &__text {
      grid-column: 1 / span 1;
    }
  }
}

.section-signing {
  display: grid;
  grid-gap: 2rem;

  @include respond(desktop) {
    grid-template-columns: repeat(2, 1fr);

    & > * {
      grid-row: 1 / span 1;

      display: grid;
      place-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    &__img {
      max-width: 37rem;
    }
  }
}
