$clr-primary: hsl(228, 39%, 23%);

$clr-accent-500: hsl(12, 60%, 45%);
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-300: hsl(12, 88%, 75%);
$clr-accent-100: hsl(13, 100%, 96%);

//* RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
