body {
  font-family: $font-primary;
  font-weight: $fw-regular;
  font-size: $default-font-size;
  line-height: 1.7;
}

.heading-primary-100 {
  font-weight: $fw-bold;
  font-size: $fs-750;

  @include respond(desktop) {
    font-size: $fs-950;
  }
}

.heading-primary-200 {
  font-weight: $fw-regular;
  font-size: $fs-650;

  @include respond(desktop) {
    font-size: $fs-800;
  }
}

.heading-primary-300 {
  max-width: $max-ch-width;
  font-size: $fs-650;
  font-weight: $fw-bold;

  @include respond(desktop) {
    font-size: $fs-800;
    font-weight: $fw-semi-bold;
  }
}

.heading-secondary-100 {
  font-size: $fs-625;
  font-weight: $fw-semi-bold;
}

.paragraph {
  font-size: $default-font-size;
  max-width: $max-ch-width;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
